.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game h1{
    font-size: 2.5em;
}
.points span{
    font-weight: bold;
}
.tip span{
    color: #ecfa00;
}
.wordContainer{
    margin: 1.5em;
    padding: 5px;
    border: 10px solid #ecfa00;
    display: flex;
}
.wordContainerGameOver{
    margin: 1.5em;
    padding: 5px;
    border: 10px solid #fa0000;
    display: flex;
}
.letter, .blankSquare{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}
.letterContainer p{
    margin-bottom: 1.2em;
}
.letterContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.letterContainer input{
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}
@media only screen and (max-width: 771.9px) {
    
    .points span{
        font-size: 20px;
    }
    .game h1{
        font-size: 1.7em;
    }
    .wordContainer{
        margin: 1.5em 0 1.5em 0;
        padding: 0;
        border: 3px solid #ecfa00;
        max-width: 600px;
    }
    .wordContainerGameOver{
        margin: 1.5em 0 1.5em 0;
        padding: 0;
        border: 3px solid #fa0000;
        max-width: 600px;
    }
    .letter, .blankSquare{
        font-size: 18px;
        line-height: 2em;
        height: 28px;
        width: 28px;
        border: 1px solid #000;
    }
    .letterContainer input{
        height: 30px;
        width: 30px;
        font-size: 20px;
        text-align: center;
        margin-right: 1em;
    }
}
@media only screen and (min-width: 772px) and (max-width: 992px) { 
    .points span{
        font-size: 30px;
    }
    .game h1{
        font-size: 2em;
    }
    .wordContainer{
        margin: 1.5em;
        padding: 2.5px;
        border: 6px solid #ecfa00;
    }
    .wordContainerGameOver{
        margin: 1.5em;
        padding: 2.5px;
        border: 6px solid #fa0000;
    }
    .letter, .blankSquare{
        font-size: 30px;
        line-height: 2em;
        height: 60px;
        width: 60px;
        border: 1px solid #000;
    }
}
