.start {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.start h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
}

.start p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #ecfa00;
}

